@import "tailwindcss";

@theme {
  --color-black-primary: #252525;
  --color-gray-primary: #4a5565;
  --color-gray-secondary: #3a414b;
  --color-green: rgb(0, 155, 0);
  --color-red: rgb(199, 2, 2);
  --color-lightgray: rgba(128, 128, 128, 0.486);
}

@layer components {
  .underline-animation {
    @apply mr-10 text-xl relative inline-block text-black-primary 
    after:content-[""] after:absolute after:left-0 after:bottom-0 
    after:h-[2px] after:w-full after:bg-black-primary 
    after:transform after:scale-x-0 after:origin-center 
    after:transition-transform after:duration-300 
     hover:after:scale-x-100 cursor-pointer;
  }

  .input {
    border: 2px solid var(--color-black-primary);
    border-radius: .25rem;
    width: 280px;
    padding-right: 4px;
    outline: 0;
    color: var(--color-gray-secondary);
  }

  .icons {
    border-radius: 100%;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 2px;
  }

  .badge {
    border-radius: 20px;
    background-color: var(--color-gray-secondary);
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 1.3rem;
  }
}

@layer base {
  button {
    background-color: var(--color-black-primary);
    color: white;
    border-radius: 0.25rem;
    padding: 8px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    cursor: pointer;
  }

  button:hover {
    background-color: #171717;
  }
}
